body{
    margin: 0;
    padding: 0;
    background:#272220;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    min-height:100vh;    
}

input{
    margin:5rem;
    box-shadow: 1px 3px #a34d4d;
    border-radius: 50px;
}
.card{
    background:#141111;
    display:flex;
    padding:5rem;
    color:white;
    border-radius: 3rem;
    
}
.avatar{
 height:150px;
 width: 150px;
 padding: 0.7rem;
 border-radius:50px;
 border:1px solid #ff0606;
}
.userInfo{
    margin-left: 2rem;
}
ul li{
    list-style: none;
    margin-top: 0.7rem;
}