.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    }

#value{
    font-size: 10rem;
}
.btn{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}
.increase {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .reset {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .decrease{
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }